@import "tailwindcss";
@plugin "daisyui";

.div_style{
  @apply w-full py-4 pl-14 pr-5 rounded-full bg-white/10 border border-white/25 text-white placeholder-gray-300 focus:outline-none focus:ring-2 focus:ring-primary focus:border-transparent transition
}

.active{
  @apply underline
}